.jumbotron{
			width:600px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
			background: #CCCCCC;
}
.table{
			margin-top: 20px;
}
.form-control{
			margin-bottom: 5px;
}
.selecionado{
			background-color: red;
}
.negrito{
			font-weight: bold;
}
