.jumbotron{
			width: 100%;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
			    background-color: #EEE9E9;
			
}
.table{
			width: 200px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
			
			
}
.form-control{
			margin-bottom: 5px;
}
.selecionado{
			background-color: red;
}
.negrito{
			font-weight: bold;
}

th {
    background-color: #B22222;
    color: white;
}
